<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="login">Iniciar Sesi칩n</a></li>
            <li><a href="admin">Admin</a></li>
            <li><a href="/logout">Cerrar Sesi칩n</a></li>
        </ul>
    </nav>

    <h1>ahora soy admin</h1>

    <div class="table-user">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>APELLIDOS</th>
                    <th>USER</th>
                    <th>CORREO</th>
                    <th>PASSWORD</th>
                    <th>ROL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <% for (let usr of users) { %>
                    <tr>
                        <td><%= usr.id %></td>
                        <td><%= usr.name %></td>
                        <td><%= usr.ape %></td>
                        <td><%= usr.user %></td>
                        <td><%= usr.correo %></td>
                        <td><%= usr.pass %></td>
                        <td><%= usr.rol %></td>
                        <td>
                            <a href="/edit/<%= usr.id %>">Editar</a>
                            <a href="/delete/<%= usr.id %>">Eliminar</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Cambiar contrase침as</h1>
        <label for="newPass">Cambiar Contrase침a</label>
        <input type="password" name="newPass" required>
    </div>

    
    <div class="register-form">
        <h1>Agregar Usuario</h1>
        <form action="/add" method="post">
            <label for="">Nombre</label>
            <input type="text" name="name">

            <label for="">Apellidos</label>
            <input type="text" name="ape">

            <label for="">User Name</label>
            <input type="text" name="user">

            <label for="">Correo</label>
            <input type="email" name="correo">

            <label for="">Password</label>
            <input type="password" name="pass" required>

            <% if(typeof alert != "undefined" && alertTitle === 'Error'){ %>
                <div class="error-message">
                    <%= alertMessage %>
                </div>
            <% } %>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="Admin">Admin</option>
                <option value="Regular">Regular</option>
            </select>

            <input type="submit" class="btn-save" value="Agregar usuario">
            
            <a href="/admin" class="btn-cancel">Cancelar</a>
        </form>
    </div>

</body>
</html>