<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Editar Usuario</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/">Iniciar Sesión</a></li>
            <li><a href="admin">Admin</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </nav>
    
    <% if(user){ %>
    <div class="register-form">
        <h1>Editar Usuario</h1>
        <form action="/update" method="post">
    
            <input id="id" name="id" value="<%= user.id %>" hidden>

            <label for="">Nombre</label>
            <input type="text" value="<%= user.name %>" name="name">
    
            <label for="">Apellidos</label>
            <input type="text" value="<%= user.ape %>" name="ape">
    
            <label for="">User Name</label>
            <input type="text" value="<%= user.user %>" name="user">
    
            <label for="">Correo</label>
            <input type="email" value="<%= user.correo %>" name="correo">
    
            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option <%= user.rol== 'Admin' ? "selected": '' %> >Admin</option value="Admin">
                <option <%= user.rol== 'Regular' ? "selected": '' %> >Regular</option value="Regular">
            </select>
    
            <input type="submit" class="btn-save" value="Guardar">
                    
            <a href="/admin" class="btn-cancel">Cancelar</a>
    
        </form>
    </div>
    <% } %>

</body>
</html>