<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/style.css">

</head>


<body>

    <form action="auth" class="login-form" method="post">

    <h1>Login</h1>

        <input type="text" name="user" placeholder="User">

        <input type="password" name="pass" placeholder="Contraseña">

        <input type="submit" class="btn-login" value="login">

        <a href="register" class="btn-register">Registrarse</a>

        <a href="guess" class="btn-guess">Entrar como invitado</a>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: <%= timer %>
            }).then(function(){
                window.location = '/<%= ruta %>'
            });

        </script>
    <% } %>
    -->
</body>
</html>